body {
    background: aqua;
}

#About img {
    float: left;
    margin: 0 20px auto;
}

nav.Links button {
    width: 150px;
    height: 50px;
    margin: 10px 10px;
}

img[src="https://researchcomputing.princeton.edu/sites/g/files/toruqf311/files/styles/freeform_750w/public/2021-02/Github.png?h=0adafebd&itok=LYI4wEES"] {
    display: block;
}